body{
	background: #f3f3f3;
}

/* panel */
.navigation{
	background: #FFFFFF;
}

.navigation a.brand{
	text-decoration: none;
	color: #000;
}

.card{
}

.card-deck{
	margin: 0 0 150px 0;
}

.card a{
	border-radius: 0;
}

.card img{
	height: 300px;
}